.strikethrough {
    position: relative;
}
  

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: #222;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}


.receipt:after {
    background-image: linear-gradient(135deg, #f3f4f6 0.5rem, transparent 0), linear-gradient(-135deg, #f3f4f6 0.5rem, transparent 0);
      background-position: left-bottom;
      background-repeat: repeat-x;
      background-size: 1rem;
      content: '';
      display: block;
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
      height: 1rem;
}

input {
    --at-apply: border-b-1 border-gray-300 focus:outline-0 bg-transparent
}
 
label {
    --at-apply: font-semibold mr-6 text-right
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}